* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
  color: #4d4f62;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.header-features {
  max-width: 65rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem auto 4.8rem;
}

.subheading {
  font-weight: 200;
  font-size: 3.6rem;
  letter-spacing: 0.25;
}

.heading-secondary {
  font-weight: 500;
  font-size: 3.6rem;
  letter-spacing: 0.25;
}

.heading-text {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1.2rem;
}

.grid {
  max-width: 100rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.4rem;
  margin: 0 auto 16rem;
  padding: 0 1.2rem;
}

.feature-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 10px 12px 0 rgba(84, 158, 242, 0.15);
  justify-self: center;
  width: 100%;
}

.feature-card:nth-child(1) {
  grid-row: 1 / -1;
  height: 50%;
  align-self: center;
}

.feature-card:nth-child(4) {
  grid-column: 3;
  grid-row: 1 / -1;
  align-self: center;
}

.feature-card-content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-bottom: 2rem;
}

.feature-heading {
  font-size: 2rem;
  line-height: 1.35;
  font-weight: 600;
}

.feature-text {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.6;
}

.feature-img {
  align-self: flex-end;
}

/*******************/
/* GENERAL */
/*******************/

.border--cyan {
  border-top: 3px solid #44d3d2;
}

.border--blue {
  border-top: 3px solid #549ef2;
}
.border--orange {
  border-top: 3px solid #fcae4a;
}
.border--red {
  border-top: 3px solid #ea5454;
}

/*******************/
/* MEDIA QUERIES */
/*******************/

@media (max-width: 55em) {
  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 60rem;
  }

  .header-features {
    max-width: 60rem;
    padding: 0 4rem;
  }

  .feature-card:nth-child(1) {
    grid-column: 1 / -1;
    grid-row: auto;
    align-self: center;
    height: auto;
    width: 50%;
  }

  .feature-card:nth-child(4) {
    grid-row: 3;
    grid-column: 1 / -1;
    align-self: center;
    width: 50%;
  }
}

@media (max-width: 35em) {
  .header-features {
    max-width: 30rem;
    padding: 0;
  }

  .heading-secondary,
  .subheading {
    font-size: 2.4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    max-width: 30rem;
    gap: 2.6rem;
  }

  .feature-card {
    width: 100% !important;
  }

  .feature-card:nth-child(4) {
    grid-row: auto;
  }
}
